$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1400px
);

$brand-primary:               #C6093B;
$brand-primary-dark:          #A30630;
$brand-secondary:             #005C79;
$brand-secondary-dark:        #004358;
$brand-accent1:               #00A69D;
$brand-accent1-dark:          #00857e;
$brand-danger:                #C6093B;

$font-size-base: 1rem;

$font-family-sans-serif:      'Montserrat', sans-serif;
$font-family-serif:           'Montserrat', sans-serif;
$font-family-base:            'Montserrat', sans-serif;
$font-family-base2:           'Roboto Slab', serif;
$font-family-base2:           $font-family-base2;

$headings-font-family: $font-family-base;
