{
  "name": "CREW BS Repo",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/assets/js/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/assets/js/app-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/assets/scss/app.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/assets/css/app.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src",
      "src/assets",
      "src/assets/scss",
      "dist",
      "dist/assets",
      "src/assets/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/jade/about.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/biography-sub.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/event-detail.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/event-landing.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_pagination.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/event-microsite.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/find.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/general-sub.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/index.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/news-detail.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/news-landing.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_pagination.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/resources-detail-filtered.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_pagination.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/resources-detail.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/resources-landing.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/search-results.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_pagination.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/jade/why-join.jade",
      "imports": [
        "src/jade/includes/_head.jade",
        "src/jade/includes/_header.jade",
        "src/jade/includes/_footer.jade",
        "src/jade/includes/_navigation.jade"
      ]
    },
    {
      "path": "src/assets/js/app.js",
      "imports": [
        "bower_components/jquery/dist/jquery.min.js",
        "bower_components/jquery-ui/jquery-ui.min.js",
        "bower_components/tether/dist/js/tether.min.js",
        "bower_components/bootstrap/dist/js/bootstrap.min.js"
      ]
    },
    {
      "path": "src/assets/scss/app.scss",
      "imports": [
        "src/assets/scss/variables/_bs-variables.scss",
        "bower_components/bootstrap/scss/bootstrap.scss",
        "bower_components/jquery-ui/themes/base/jquery-ui.min.css",
        "src/assets/scss/helpers/_functions.scss",
        "src/assets/scss/helpers/_mixins.scss",
        "src/assets/scss/variables/_site-variables.scss",
        "src/assets/scss/base/_base.scss",
        "src/assets/scss/layout/_header.scss",
        "src/assets/scss/layout/_footer.scss",
        "src/assets/scss/layout/_sections.scss",
        "src/assets/scss/components/_forms.scss",
        "src/assets/scss/components/_top-actions.scss",
        "src/assets/scss/components/_mastheads.scss",
        "src/assets/scss/components/_navigation.scss",
        "src/assets/scss/components/_home-stats.scss",
        "src/assets/scss/components/_stat-boxes.scss",
        "src/assets/scss/components/_resources-row.scss",
        "src/assets/scss/components/_home-events.scss",
        "src/assets/scss/components/_related-boxes.scss",
        "src/assets/scss/components/_sponsors.scss",
        "src/assets/scss/components/_lead-change.scss",
        "src/assets/scss/components/_how-to-join.scss",
        "src/assets/scss/components/_faqs.scss",
        "src/assets/scss/components/_find.scss",
        "src/assets/scss/components/_action-row.scss",
        "src/assets/scss/components/_mission.scss",
        "src/assets/scss/components/_history.scss",
        "src/assets/scss/components/_initiatives.scss",
        "src/assets/scss/components/_locate-small.scss",
        "src/assets/scss/components/_featured-event.scss",
        "src/assets/scss/components/_upcoming-events.scss",
        "src/assets/scss/components/_pagination.scss",
        "src/assets/scss/components/_recon-events.scss",
        "src/assets/scss/components/_interior-share.scss",
        "src/assets/scss/components/_event-detail.scss",
        "src/assets/scss/components/_event-microsite.scss",
        "src/assets/scss/components/_about-leadership-summit.scss",
        "src/assets/scss/components/_speaker-boxes.scss",
        "src/assets/scss/components/_microsite-schedule.scss",
        "src/assets/scss/components/_event-venue.scss",
        "src/assets/scss/components/_resource-categories.scss",
        "src/assets/scss/components/_resource-list.scss",
        "src/assets/scss/components/_news-list.scss",
        "src/assets/scss/components/_news-detail-content.scss",
        "src/assets/scss/components/_search-results.scss",
        "src/assets/scss/components/_filter-boxes.scss",
        "src/assets/scss/components/_general-sub-body.scss",
        "src/assets/scss/components/_biography-section.scss",
        "bower_components/bootstrap/scss/_variables.scss",
        "bower_components/bootstrap/scss/_mixins.scss",
        "bower_components/bootstrap/scss/_custom.scss",
        "bower_components/bootstrap/scss/_normalize.scss",
        "bower_components/bootstrap/scss/_print.scss",
        "bower_components/bootstrap/scss/_reboot.scss",
        "bower_components/bootstrap/scss/_type.scss",
        "bower_components/bootstrap/scss/_images.scss",
        "bower_components/bootstrap/scss/_code.scss",
        "bower_components/bootstrap/scss/_grid.scss",
        "bower_components/bootstrap/scss/_tables.scss",
        "bower_components/bootstrap/scss/_forms.scss",
        "bower_components/bootstrap/scss/_buttons.scss",
        "bower_components/bootstrap/scss/_transitions.scss",
        "bower_components/bootstrap/scss/_dropdown.scss",
        "bower_components/bootstrap/scss/_button-group.scss",
        "bower_components/bootstrap/scss/_input-group.scss",
        "bower_components/bootstrap/scss/_custom-forms.scss",
        "bower_components/bootstrap/scss/_nav.scss",
        "bower_components/bootstrap/scss/_navbar.scss",
        "bower_components/bootstrap/scss/_card.scss",
        "bower_components/bootstrap/scss/_breadcrumb.scss",
        "bower_components/bootstrap/scss/_pagination.scss",
        "bower_components/bootstrap/scss/_badge.scss",
        "bower_components/bootstrap/scss/_jumbotron.scss",
        "bower_components/bootstrap/scss/_alert.scss",
        "bower_components/bootstrap/scss/_progress.scss",
        "bower_components/bootstrap/scss/_media.scss",
        "bower_components/bootstrap/scss/_list-group.scss",
        "bower_components/bootstrap/scss/_responsive-embed.scss",
        "bower_components/bootstrap/scss/_close.scss",
        "bower_components/bootstrap/scss/_modal.scss",
        "bower_components/bootstrap/scss/_tooltip.scss",
        "bower_components/bootstrap/scss/_popover.scss",
        "bower_components/bootstrap/scss/_carousel.scss",
        "bower_components/bootstrap/scss/_utilities.scss",
        "bower_components/bootstrap/scss/mixins/_breakpoints.scss",
        "bower_components/bootstrap/scss/mixins/_hover.scss",
        "bower_components/bootstrap/scss/mixins/_image.scss",
        "bower_components/bootstrap/scss/mixins/_badge.scss",
        "bower_components/bootstrap/scss/mixins/_resize.scss",
        "bower_components/bootstrap/scss/mixins/_screen-reader.scss",
        "bower_components/bootstrap/scss/mixins/_size.scss",
        "bower_components/bootstrap/scss/mixins/_reset-text.scss",
        "bower_components/bootstrap/scss/mixins/_text-emphasis.scss",
        "bower_components/bootstrap/scss/mixins/_text-hide.scss",
        "bower_components/bootstrap/scss/mixins/_text-truncate.scss",
        "bower_components/bootstrap/scss/mixins/_transforms.scss",
        "bower_components/bootstrap/scss/mixins/_visibility.scss",
        "bower_components/bootstrap/scss/mixins/_alert.scss",
        "bower_components/bootstrap/scss/mixins/_buttons.scss",
        "bower_components/bootstrap/scss/mixins/_cards.scss",
        "bower_components/bootstrap/scss/mixins/_pagination.scss",
        "bower_components/bootstrap/scss/mixins/_lists.scss",
        "bower_components/bootstrap/scss/mixins/_list-group.scss",
        "bower_components/bootstrap/scss/mixins/_nav-divider.scss",
        "bower_components/bootstrap/scss/mixins/_forms.scss",
        "bower_components/bootstrap/scss/mixins/_table-row.scss",
        "bower_components/bootstrap/scss/mixins/_background-variant.scss",
        "bower_components/bootstrap/scss/mixins/_border-radius.scss",
        "bower_components/bootstrap/scss/mixins/_gradients.scss",
        "bower_components/bootstrap/scss/mixins/_clearfix.scss",
        "bower_components/bootstrap/scss/mixins/_navbar-align.scss",
        "bower_components/bootstrap/scss/mixins/_grid-framework.scss",
        "bower_components/bootstrap/scss/mixins/_grid.scss",
        "bower_components/bootstrap/scss/mixins/_float.scss",
        "bower_components/bootstrap/scss/utilities/_align.scss",
        "bower_components/bootstrap/scss/utilities/_background.scss",
        "bower_components/bootstrap/scss/utilities/_borders.scss",
        "bower_components/bootstrap/scss/utilities/_clearfix.scss",
        "bower_components/bootstrap/scss/utilities/_display.scss",
        "bower_components/bootstrap/scss/utilities/_flex.scss",
        "bower_components/bootstrap/scss/utilities/_float.scss",
        "bower_components/bootstrap/scss/utilities/_position.scss",
        "bower_components/bootstrap/scss/utilities/_screenreaders.scss",
        "bower_components/bootstrap/scss/utilities/_sizing.scss",
        "bower_components/bootstrap/scss/utilities/_spacing.scss",
        "bower_components/bootstrap/scss/utilities/_text.scss",
        "bower_components/bootstrap/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "src/jade/includes/_header.jade",
      "imports": [
        "src/jade/includes/_navigation.jade"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../../dist\"},\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}