footer
	.flex-row.col
			.footerLogo
				img(src="assets/images/logo.png", alt="CREW Network")
					
			.footerContent
				ul.footerMenu
					li: a(href="") About
					li: a(href="") Why Join?
					li: a(href="") Events
					li: a(href="") Member Community
					li: a(href="") Foundation
					
				.footerMid
					.footerSocial
						a(href=""): i.fa.fa-facebook
						a(href=""): i.fa.fa-twitter
						a(href=""): i.fa.fa-instagram
						a(href=""): i.fa.fa-linkedin
						a(href=""): i.fa.fa-youtube
						a(href=""): i.fa.fa-flickr
							
					.footerContact
						p
							| CREW Network, 1201 Wakarusa Dr Ste D, Lawrence, KS 66049<br />
							| Phone: (785) 832-1808 | Fax: (785) 832-1551
						
				p Terms and Conditions | Copyright 2017 CREW Network - All rights reserved | <a href="">Privacy Statement</a>
				p: a(href="http://www.bluekeyinc.com", title="BlueKey is a web design company based in Charleston, SC offering web design, ecommerce, and Internet marketing services." target="_blank") Web Design by BlueKey in Charleston, SC
				
.mainShade

script(src="assets/js/app-dist.js")
