nav.mainNav
	ul
		li: a(href="") About
		li
			a(href="") Why Join?
			ul
				li: a(href="index.html") Home
				li: a(href="why-join.html") Why Join?
				li
					a(href="find.html") Find CREW
					ul
						li: a(href="") Sub Sub Level
						li: a(href="") Sub Sub Level
						li: a(href="") Sub Sub Level
				li: a(href="about.html") About
				li: a(href="event-landing.html") Event Landing
				li: a(href="event-detail.html") Event Detail
				li: a(href="event-microsite.html") Event Microsite
				li: a(href="resources-landing.html") Resources Landing
				li: a(href="resources-detail.html") Resources Detail
				li: a(href="resources-detail-filtered.html") Resources Detail - Filtered
				li: a(href="news-landing.html") News Landing
				li: a(href="news-detail.html") News Detail
				li: a(href="search-results.html") Search Results
				li: a(href="general-sub.html") General Sub
				li: a(href="biography-sub.html") Biography Sub
		li: a(href="") Events
		li
			a(href="") Member Community
			ul
				li: a(href="") Sub Link
				li: a(href="") Sub Link
				li: a(href="") Sub Link
				li: a(href="") Sub Link
				li: a(href="") Sub Link
		li: a(href="") Foundation
		
	.mainNavClose

	.navSocial
		ul
			li: a(href=""): i.fa.fa-facebook
			li: a(href=""): i.fa.fa-twitter
			li: a(href=""): i.fa.fa-instagram
			li: a(href=""): i.fa.fa-linkedin
			li: a(href=""): i.fa.fa-youtube
			li: a(href=""): i.fa.fa-flickr
		.hasMore
			.navSocialMore
