.pagination
   a.paginationItem.first(href="")
   a.paginationItem.prev(href="")
   a.paginationItem(href="") 1
   a.paginationItem(href="") 2
   span.active.paginationItem 3
   a.paginationItem(href="") 4
   a.paginationItem.next(href="")
   a.paginationItem.last(href="")
