doctype html
html(lang="en")
	head
		include includes/_head.jade
		title Page Title

	body

		.wide

			include includes/_header.jade

			// BEGIN PAGE SPECIFIC MARKUP

			section.masthead.noImage.altTextSize
				.flex-row
					.mastheadCaption
						h1 Hillary Rodham Clinton
						
			section.biographySection
				.flex-row
					.col
						
						.interiorShare
							a(href=""): i.fa.fa-facebook
							a(href=""): i.fa.fa-twitter
							a(href=""): i.fa.fa-linkedin
							a(href=""): i.fa.fa-pinterest
							a(href=""): i.fa.fa-envelope
							
						.biographyBody
							
							.biographyMugBox
								.biographyMug(style="background: url(assets/images/biographyMug.jpg) 50% 50% no-repeat; background-size: cover;")
								.biographyMugInfo
									.biographyMugName Hillary Rodham Clinton
									.biographyMugTitle Former U.S. Secretary of State
									
							h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
							p Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna.
							p Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
							p Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
							p Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna.
							p Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
							ul
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

			// END PAGE SPECIFIC MARKUP

			include includes/_footer.jade
