doctype html
html(lang="en")
	head
		include includes/_head.jade
		title Page Title

	body

		.wide

			include includes/_header.jade

			// BEGIN PAGE SPECIFIC MARKUP

			section.masthead.noImage.altTextSize
				.flex-row
					.mastheadCaption
						h1 Networking: Using the Tools to Grow Business and Lead
						
			section.eventDetail
				.flex-row
					.col
						
						.interiorShare
							a(href=""): i.fa.fa-facebook
							a(href=""): i.fa.fa-twitter
							a(href=""): i.fa.fa-linkedin
							a(href=""): i.fa.fa-pinterest
							a(href=""): i.fa.fa-envelope
						
						.eventDetailTop
							.eventDetailInfo
								.eventDetailDate
									span Date
									| May 25, 2016
								.eventDetailTime
									span Time
									| Noon-1:15 p.m. (CST)
								p
									a.btn.btn-accent1(href="") Register Now
									a.btn.accent1Ghost(href="") Attendee List
								
							.eventDetailThumb(style="background: url(assets/images/eventDetailThumb.jpg) 50% 50% no-repeat; background-size: cover;")
								
						.eventDetailBody
								
							p No CREW Network chapter or individual member is an island, but in the rush of daily priorities, the power of the network and its resources aren’t always front of mind. In a collaborative sharing of best practices and success stories, this call will focus on how to best open doors to the myriad opportunities, resources and connections available.
							
							p <strong>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</strong>
							
							ul
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								
							h2 About CREW Network board-hosted calls
							
							p Board-hosted calls are open to chapter presidents, presidents-elect and delegates only. Registration will be available one week prior to each call. Board-hosted calls are limited to 50 participants.
							
							p Board-hosted calls provide an opportunity for chapter leaders to interface with one another, share best practices and examine new ideas and approaches to major topics impacting quality chapter operations. These conference calls are open to chapter presidents, presidents-elects and delegates, and are hosted by a CREW Network board member. Chapter presidents, presidents-elects or delegates may invite other chapter representatives who might find a topic beneficial to their particular role.
						
			section.relatedBoxes
				.flex-row
					.col
						h2 Related Events
						
						.relatedBoxContainer
							a.relatedBox(href="")
								.relatedBoxThumb(style="background: url(assets/images/newsBox1.jpg) 50% 50% no-repeat; background-size: cover;")
								.relatedBoxContent
									.relatedBoxDate September 16, 2016
									h3.relatedBoxTitle 2017 CREW Network Convention & Marketplace
									p.relatedBoxLocation Houston, TX
									span.allLink Read More
								
							a.relatedBox(href="")
								.relatedBoxThumb(style="background: url(assets/images/newsBox1.jpg) 50% 50% no-repeat; background-size: cover;")
								.relatedBoxContent
									.relatedBoxDate September 16, 2016
									h3.relatedBoxTitle 2017 Winter Leadership Summit
									p.relatedBoxLocation Loews Hollywood Hotel<br />Hollywood, CA
									span.allLink Read More
								
							a.relatedBox(href="")
								.relatedBoxThumb(style="background: url(assets/images/newsBox1.jpg) 50% 50% no-repeat; background-size: cover;")
								.relatedBoxContent
									.relatedBoxDate September 16, 2016
									h3.relatedBoxTitle 2017 CREW Network Convention & Marketplace
									p.relatedBoxLocation Houston, TX
									span.allLink Read More
								
							a.relatedBox(href="")
								.relatedBoxThumb(style="background: url(assets/images/newsBox1.jpg) 50% 50% no-repeat; background-size: cover;")
								.relatedBoxContent
									.relatedBoxDate September 16, 2016
									h3.relatedBoxTitle 2017 Winter Leadership Summit
									p.relatedBoxLocation Loews Hollywood Hotel<br />Hollywood, CA
									span.allLink Read More
								
							

			// END PAGE SPECIFIC MARKUP

			include includes/_footer.jade
