doctype html
html(lang="en")
	head
		include includes/_head.jade
		title Page Title

	body

		.wide

			include includes/_header.jade

			// BEGIN PAGE SPECIFIC MARKUP

			section.masthead.noImage
				.flex-row
					.mastheadCaption
						h1 Events
						
			section.featuredEvent
				.flex-row
					.col
						.featuredEventContainer
							.featuredEventContent
								.featuredEventDate October 19-22
								h2.featuredEventTitle 2017 crew network convention &amp; Marketplace
								.featuredEventLocation New York Hilton Midtown<br />New York, N.Y.
								.featuredEventAction: a.btn.btn-accent1(href="") Register Now
							
							.featuredEventThumb(style="background: url(assets/images/featuredEvent.jpg) 50% 50% no-repeat; background-size: cover;")
							
			section.upcomingEvents
				.flex-row
					.col
						.eventFilterLead Filter all events by:
						
						.eventFilters
							.filterBox.eventFilter Leadership Summits
							.filterBox.eventFilter.on Conventions
							.filterBox.eventFilter Board-Hosted Calls
							.filterBox.eventFilter Recon
							.filterBox.eventFilter Past Events
							
						.upcomingEventsTitle Upcoming Events
						
						.eventBoxContainer
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
									
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
										
							a.eventBox(href="")
								.eventBoxDate
									.eventBoxMonth Oct
									.eventBoxDay 19
								.eventBoxContent
									.eventBoxTitle 2016 Fall Leadership Summit
									.eventBoxLocation New York, NY
									.eventBoxType Leadership Summit
									
						include includes/_pagination.jade
						
			section.reconEvents
				.flex-row
					.col
						.reconEventThumb(style="background: url(assets/images/reconEventThumb.jpg) 50% 50% no-repeat; background-size: cover;")
						.reconEventContent
							h2: span CREW Network Events at Recon
							p ICSC's RECon is the global convention for the shopping center industry and provides networking, deal making and educational opportunities for retail real estate professionals from around the world.
							p
								a.btn.btn-accent1(href="") Follow Recon 2017
								a.btn.whiteGhost(href="") 2016 Flickr Album
							

			// END PAGE SPECIFIC MARKUP

			include includes/_footer.jade
