doctype html
html(lang="en")
	head
		include includes/_head.jade
		title Page Title

	body

		.wide

			include includes/_header.jade

			// BEGIN PAGE SPECIFIC MARKUP

			section.masthead.noImage
				.flex-row
					.mastheadCaption
						h1 CREW Network Resources
						
			section.resourceCategories
				.flex-row
					.col
						.resourceCategoryLead Select a Category Below
						
						.resourceCategoryBoxContainer
							
							a.resourceCategoryBox(href="")
								.resourceCategoryBoxIconContainer
									img.resourceCategoryBoxIcon.gray(src="assets/images/iconBarGraph.png", alt="")
									img.resourceCategoryBoxIcon.white(src="assets/images/iconBarGraph-white.png", alt="").resouceCategoryBox
								.resourceCategoryBoxTitle Industry Research
								.resourceCategoryBoxCaption Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
								
							a.resourceCategoryBox(href="")
								.resourceCategoryBoxIconContainer
									img.resourceCategoryBoxIcon.gray(src="assets/images/iconGlobe.png", alt="")
									img.resourceCategoryBoxIcon.white(src="assets/images/iconGlobe-white.png", alt="").resouceCategoryBox
								.resourceCategoryBoxTitle Global Agenda
								.resourceCategoryBoxCaption Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.
								
							a.resourceCategoryBox(href="")
								.resourceCategoryBoxIconContainer
									img.resourceCategoryBoxIcon.gray(src="assets/images/iconTrophy.png", alt="")
									img.resourceCategoryBoxIcon.white(src="assets/images/iconTrophy-white.png", alt="").resouceCategoryBox
								.resourceCategoryBoxTitle Awards
								.resourceCategoryBoxCaption Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.
								
							a.resourceCategoryBox(href="")
								.resourceCategoryBoxIconContainer
									img.resourceCategoryBoxIcon.gray(src="assets/images/iconGradHat.png", alt="")
									img.resourceCategoryBoxIcon.white(src="assets/images/iconGradHat-white.png", alt="").resouceCategoryBox
								.resourceCategoryBoxTitle Scholorships
								.resourceCategoryBoxCaption Cras justo odio, dapibus ac facilisis in.
								
							a.resourceCategoryBox(href="")
								.resourceCategoryBoxIconContainer
									img.resourceCategoryBoxIcon.gray(src="assets/images/iconCalendar.png", alt="")
									img.resourceCategoryBoxIcon.white(src="assets/images/iconCalendar-white.png", alt="").resouceCategoryBox
								.resourceCategoryBoxTitle Event Resources
								.resourceCategoryBoxCaption Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.
								
							a.resourceCategoryBox(href="")
								.resourceCategoryBoxIconContainer
									img.resourceCategoryBoxIcon.gray(src="assets/images/iconStar.png", alt="")
									img.resourceCategoryBoxIcon.white(src="assets/images/iconStar-white.png", alt="").resouceCategoryBox
								.resourceCategoryBoxTitle News you can use
								.resourceCategoryBoxCaption Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.
								
							a.resourceCategoryBox(href="")
								.resourceCategoryBoxIconContainer
									img.resourceCategoryBoxIcon.gray(src="assets/images/iconPaper.png", alt="")
									img.resourceCategoryBoxIcon.white(src="assets/images/iconPaper-white.png", alt="").resouceCategoryBox
								.resourceCategoryBoxTitle News Releases
								.resourceCategoryBoxCaption Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.
								
							a.resourceCategoryBox(href="")
								.resourceCategoryBoxIconContainer
									img.resourceCategoryBoxIcon.gray(src="assets/images/iconFile.png", alt="")
									img.resourceCategoryBoxIcon.white(src="assets/images/iconFile-white.png", alt="").resouceCategoryBox
								.resourceCategoryBoxTitle Annual Reports
								.resourceCategoryBoxCaption Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.
								
							a.resourceCategoryBox(href="")
								.resourceCategoryBoxIconContainer
									img.resourceCategoryBoxIcon.gray(src="assets/images/iconCheck.png", alt="")
									img.resourceCategoryBoxIcon.white(src="assets/images/iconCheck-white.png", alt="").resouceCategoryBox
								.resourceCategoryBoxTitle New Chapter Development
								.resourceCategoryBoxCaption Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.
								
							a.resourceCategoryBox(href="")
								.resourceCategoryBoxIconContainer
									img.resourceCategoryBoxIcon.gray(src="assets/images/iconPillars.png", alt="")
									img.resourceCategoryBoxIcon.white(src="assets/images/iconPillars-white.png", alt="").resouceCategoryBox
								.resourceCategoryBoxTitle Governance
								.resourceCategoryBoxCaption Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.

			// END PAGE SPECIFIC MARKUP

			include includes/_footer.jade
